@charset "utf-8";
/* CSS Document */
html {background-color: #333 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navmap{
	position:fixed;
	top:0;
    right:3%;
	background-color: #333;
    
}

.navmap a {
    display:block;
	color:#FFFFFF;
	text-align: center;
    align-content: center;
	text-decoration: none;
    padding-right: -0.1%;
    padding-left: 10%;
	font-size:27px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


sidebar {
    position:fixed; 
    left:71%; 
    margin-top:3%;
    padding-top:0%;
    padding-left: 0px; 
    text-align: left;
    color: white;
    
    ;
}

body {
    margin-top: 30px;
	padding-left: 2%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    }

h1 {
    color: #FFFFFF;
    font-size: 20pt;
    padding-top: 1%;
    opacity: inherit;
    padding-left: 6%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

p {
    color: #FFFFFF;
    opacity: inherit;
    font-size: 10pt;
    padding-left: 4.5%;
    padding-right: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}



